
.app-background {
  background: url('./backi.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow: visible; /* Allow parallax scrolling */
}

.auth-background {
  background: #0D1117;
  min-height: 100vh;
  color: white;
}





