.dashboard {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #22252b;
    padding: 20px;
    color: white;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
    cursor: pointer;
    color: #fff;
  }
  
  .sidebar ul li:hover {
    text-decoration: underline;
  }
  
  .posts-view {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    overflow-y: auto;
  }
  