.profile-page {
  display: flex;
  padding: 2rem;
  background-color: #0F141A;
}

.sidepanel {
  width: 250px;
  padding: 1rem;
  border: 1px solid #c9d1d9;
  border-radius: 5px;
  color: #c9d1d9;
}

.profile-container {
  flex-grow: 1;
  padding: 1rem;
  color: #c9d1d9;
}

.profile-data {
  padding: 1rem;
  border: 1px solid #c9d1d9;
  border-radius: 5px;
}

.profile-details {
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid #c9d1d9;
  border-radius: 5px;
  color: #c9d1d9;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-details p {
  flex: 1 1 45%; 
}

.profile-details .detail {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 1 1 45%;
}

.profile-details .detail p {
  margin-top: 1.2rem;
}


.profile-data h1 {
  color: #c9d1d9;
  margin-bottom: 1rem;
}

.options {
  display: block;
  color: #c9d1d9;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.options:hover {
  background-color: #b4e2bd;
  color: #238636;
}

.btn-green {
  background-color: #238636;
  color: #c9d1d9;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-green:hover {
  background-color: #45a049;
}
